body
  padding 10px

button, input
  margin 2px
  text-align center

.button-point
  background-color green
  width 80%

.button-lostpoint
  background-color red
  width 80%

.button-inplay
  background-color silver
  width 80%

.eventsHolder
  text-align center

.events
  width 100%

#header
  text-align center

#footer
  text-align center

